// CDN imports
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Roboto&display=swap");


// Color Palette
$primary: #1C232D;
$primary2: #1A494F;
$secondary: #F48B0C;
$secondary2: #B96500;
$surface: #46474B;
$foreignAccent: #CADEFC;
$textPrimary: #EEE9E6;