@import "./mixins";

.app{
    @include flexMix(column, flex-start, center);
    padding: 10vh 10vw;
    padding-top: 4vh;
    font-size: 80%;
    header{
        @include flexMix(column, flex-start, center);
        margin-bottom: 6vh;
        & > *{
            margin: 12px 0;
        }
    }
    .ant-input-search{
        width: 40%;
    }

    .details{
        width: 100%;
        margin-top: 8vh;
        h3{
            margin-bottom: 24px;
        }
        .content{
            @include flexMix(row, center, flex-start);
            & > *{
                margin: 0 4vw;
                width: 50%;
                h5{
                    text-decoration: underline;
                }
                .obj{
                    h6{
                        padding: 4px 0;
                        span{
                            margin-left: 8px;
                            color: $foreignAccent;
                        }
                    }
                }
            }
        }
        
    }

    .error{

        width: 100%;
        margin-top: 8vh;
        h3{
            text-align: center;
            width: 100%;
            margin: 0;
            margin-bottom: 24px;
            color: #ea5252 !important;
        }
        & > *{
            margin: 0 4vw;
            width: 50%;
        }
        .obj{
            h6{
                padding: 4px 0;
                span{
                    margin-left: 8px;
                    color: $foreignAccent;
                }
            }
        }

        
    }
}
